In [2]:


import random
students = [
    'Tzwrtzina',
    'Andreas',
    'Xristos',
    'Andromaxh',
    'Danah',
    'Antwnia',
    'Aris',
    'Maria',
    'Sofia',
    'Iwanna',
    'Aggelos',
]

def random_student():
    return random.choice(students)

rs = random_student

In [14]:
rs()

'Sofia'

In [4]:
'it' in 'Mitsos'

True

In [6]:
'a' in 'Mitsos'

False

In [8]:
3 in [3,4,5]

True

In [10]:
'mitsos' in [4,5,'mitsos']

True

In [11]:
[2,3,4,5]

[2, 3, 4, 5]

In [13]:
sum([2,3,4,5])

14

In [15]:
min([5,4,2,7])

2

In [16]:
max([5,4,2,7])

7

In [17]:
rs()

'Tzwrtzina'

In [19]:
'a' < 'b'

True

In [20]:
43 < 3

False

In [21]:
rs()

'Xristos'

In [24]:
'23' < '3'

True

In [25]:
'23 papadopoulos' < '3 papadoulos'

True

In [26]:
'33' < '334'

True

In [ ]:
'2   zdfbgsdfgzdfg' < '3 sdfgsdfgsdfgsdfgsdfgsdfg'

In [23]:
23 < 3

False

In [27]:
'a' < 'A'

False

In [28]:
'A' < 'a'

True

In [30]:
min(['heraklion', 'athens', 'thessaloniki'])

'athens'

In [31]:
max(['heraklion', 'athens', 'thessaloniki'])

'thessaloniki'

In [32]:
3 < 4

True

In [34]:
[3] < [4]

True

In [36]:
[3,4,5] < [3,4,6]

True

In [37]:
[3,4,5] < [3]

False

In [38]:
[3,4] < [3,4,1]

True

In [39]:
[3,4] < [1,4,3]

False

In [41]:
[3,4,1] < [1]

False

In [42]:
'a' + 3

TypeError: can only concatenate str (not "int") to str

In [43]:
'a' < 3

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
[3] < ['3']

TypeError: '<' not supported between instances of 'int' and 'str'

In [45]:
[3,2] < [1,'3']

False

In [46]:
[3,2] < [3,'3']

TypeError: '<' not supported between instances of 'int' and 'str'

In [47]:
min(['heraklion', 'athens', 'thessaloniki'])

'athens'

In [48]:
min(['heraklion', 'athens', 'thessaloniki', 4])

TypeError: '<' not supported between instances of 'int' and 'str'

In [49]:
min(['heraklion', 'athens', 'thessaloniki', '4'])

'4'

In [51]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [53]:
list(range(10,1,-2))

[10, 8, 6, 4, 2]

In [55]:
if 3<4:
    print ('hello')

hello

In [56]:
if 4<3:
    print ('hello')

In [58]:
if 3<4: print ('hello') # Ιουουουουου

hello

In [59]:
if 3<4:
    print ('hello')

hello

In [61]:
if 'el' in 'Hello':
    print (57)

57

In [63]:
a=3
if a < 10 or a > 100:
    print (100)

100

In [65]:
a=3
if   a    <    10     or       a     >     100                    :                       
    print (100)

100

In [66]:
a=3
if a < 10 or \
   a > 100:                       
    print (100)

100

In [68]:
if ['a', 4] > ['b', 7]:
    print ('hello')

In [71]:
if 3<4:
    print ('hello')
    print ('world')

hello
world

In [74]:
if 3<2:
    print ('hello')
    
print ('world')

world

In [75]:
if 3<4:
    print ('hello')
    
print ('world')

hello
world

In [76]:
if 3<4:
    print ('hello')
    print ('mitsos')
    
print ('world')

hello
mitsos
world

In [77]:
if 4<3:
    print ('hello')
    print ('mitsos')
    
print ('world')

world

In [79]:
if 3<4:
    print ('hello')
    if 'a' < 'b':
        print ('mitsos')
    
print ('world')

hello
mitsos
world

In [80]:
if 3<4:
    print ('hello')
    if 'a' > 'b':
        print ('mitsos')
    
print ('world')

hello
world

In [82]:
if 3>4:
    print ('hello')
else:
    print ('world')

world

In [83]:
if 4>3:
    print ('hello')
else:
    print ('world')

hello

In [85]:
a = 1

if a == 1:
    print ('hello')
elif a == 2:
    print ('mitsos')
else:
    print ('world')

hello

In [86]:
a = 2

if a == 1:
    print ('hello')
elif a == 2:
    print ('mitsos')
else:
    print ('world')

mitsos

In [87]:
a = '`,sdjfnsdkjfgldkjgbzdlkgblsdkjfgh'

if a == 1:
    print ('hello')
elif a == 2:
    print ('mitsos')
else:
    print ('world')

world

In [90]:
a = 'Heraklion'


if 'e' in a:
    print ('hello')
elif 'a' in a:
    print ('mitsos')
else:
    print ('world')

hello

In [92]:
a = 'Heraklion'


if 'e' in a:
    print ('hello')
    
if 'a' in a:
    print ('mitsos')
else:
    print ('world')

hello
mitsos

In [93]:
a = 'Heraklion'


if 'e' in a:
    print ('hello')
    if 'a' in a:
        print ('mitsos')
    
#if 'a' in a:
#    print ('mitsos')
#else:
#    print ('world')

hello
mitsos

In [94]:
else:
    print ('sdfg')

SyntaxError: invalid syntax (<ipython-input-94-f4a9373cd266>, line 1)

In [95]:
for x in [3,5,7]:
    print (x)

3
5
7

In [96]:
for x in range(1,30):
    print (x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [97]:
for x in 'Heraklion':
    print (x)

H
e
r
a
k
l
i
o
n

In [99]:
for x in [ [1,2,3]  ,  [4,5,6]    ]:
    print (x)

[1, 2, 3]
[4, 5, 6]

In [100]:
for x in [ 1,2,3, 4,5,6]:
    print (x)

1
2
3
4
5
6

## Τύπωσε όλους τους μονούς αριθμούς από 1 μέχρι το 20

In [101]:
for x in range(1,20,2):
    print (x)

1
3
5
7
9
11
13
15
17
19

In [103]:
for x in range(1,20):
    if x%2 == 1:
        print (x)

1
3
5
7
9
11
13
15
17
19

In [105]:
for x in range(0,19):
    print (x+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [106]:
for x in range(1,20):
    if x%2 == 1:
        print (x)

1
3
5
7
9
11
13
15
17
19

In [107]:
for x in range(1,20):
    
    if x%2 == 0:
        continue
    
    print (x)

1
3
5
7
9
11
13
15
17
19

In [116]:
for x in range(1,40):
    
    print ('x=',x)
    
    if x%2 == 0:
        print ('x is ' + str(x) + ' even.. CONTINUE!')
        continue
    
    if x > 19:
        print ('x is ' + str(x) +  ' greater than 19. BREAK!')
        break
    
    print (x)

print ('====> ' + str(x))

x= 1
1
x= 2
x is 2 even.. CONTINUE!
x= 3
3
x= 4
x is 4 even.. CONTINUE!
x= 5
5
x= 6
x is 6 even.. CONTINUE!
x= 7
7
x= 8
x is 8 even.. CONTINUE!
x= 9
9
x= 10
x is 10 even.. CONTINUE!
x= 11
11
x= 12
x is 12 even.. CONTINUE!
x= 13
13
x= 14
x is 14 even.. CONTINUE!
x= 15
15
x= 16
x is 16 even.. CONTINUE!
x= 17
17
x= 18
x is 18 even.. CONTINUE!
x= 19
19
x= 20
x is 20 even.. CONTINUE!
x= 21
x is 21 greater than 19. BREAK!
====> 21

In [122]:
for x in [4,5,6]:
    
    a = x + 4 
    print (x, a)
    
print (a) # Τυπώνει τη τελευταία τιμή που έχει πάρει η a !

4 8
5 9
6 10
10

In [127]:
a=1
while a<=19:
    
    print (a)
    a += 2 # a=a+2
    
print ('==>', a)

1
3
5
7
9
11
13
15
17
19
==> 21

In [131]:
a=0
while a<=19:

    a += 1 # a=a+1
    
    if a %2 == 0:
        continue
    
    print (a)
    
print ('==>', a)

1
3
5
7
9
11
13
15
17
19
==> 20

In [132]:
a=0
while a<=100:

    a += 1 # a=a+1
    
    if a %2 == 0:
        continue
    
    print (a)
    if a>=19:
        break
    
print ('==>', a)

1
3
5
7
9
11
13
15
17
19
==> 19

In [133]:
a=0
while 'mitsos' == 'mitsos':

    a += 1 # a=a+1
    
    if a %2 == 0:
        continue
    
    print (a)
    if a>=19:
        break
    
    
print ('==>', a)

1
3
5
7
9
11
13
15
17
19
==> 19

In [134]:
rs()

'Aggelos'

## Όλους τους ζυγούς από το 20 μέχρι και το 0, με while!

In [139]:
a=21
while a<=21:
    a-=1
    if a%2 == 0:
        print (a)
        
    if a == 0:
        break

20
18
16
14
12
10
8
6
4
2
0

In [140]:
a=21
while True:
    a-=1
    if a%2 == 0:
        print (a)
        
    if a == 0:
        break

20
18
16
14
12
10
8
6
4
2
0

In [138]:
a=21
while a>0:
    a-=1
    if a%2 == 0:
        print (a)

20
18
16
14
12
10
8
6
4
2
0

In [141]:
rs()

'Sofia'

## 5..10..15..20..25..100..Φτου και βγαίνω

In [146]:
a=0
while a<100:
    
    a += 1
    
    if a%5 == 0:
        print (a)
print ('Φτου και βγαίνω!')

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
Φτου και βγαίνω!

In [147]:
## Χωρίς if!

In [149]:
a=0
while a<100:
    a += 5
    print (a)
print ('Φτου και βγαίνω!')

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
Φτου και βγαίνω!

In [150]:
for a in range(5,105,5):
    print (a)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [153]:
t=0
while t in [4,5,6]:
    print (t)

In [154]:
while False:
    print ('PAPADES')

In [ ]:
t=4
while t in [4,5,6]:
    print (t)

In [159]:
t=5
while t in range(5,105,5):
    print (t)
    t += 5

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
t=5
while t<100:
    print (t)
    t += 5

In [156]:
5 in range(0,100)

True

In [157]:
105 in range(0,100)

False

In [151]:
rs()

'Andreas'

In [125]:
for b in [1,2,3]:
    print (b)

1
2
3

In [126]:
while c < 10:
    print (c)

NameError: name 'c' is not defined

```
1
1 2 
1 2 3
1 2 3 4
....
1 2 3 4 5 6 7 8 9 10
```

In [176]:
for x in range(1,11):
    #print(1, x)
    s = ''
    for y in range(1, x+1):
        #print ('  ', y)
        s += str(y) + ' '
    print (s)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [178]:
s = ''
for i in range(1,11):
    s += str(i) + ' '
    print (s)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [181]:
s = ''
i = 1
while i<11:
    s += str(i) + ' '
    print (s)
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

## Τυπώσει τη προπαίδεια του 7
```
1 Χ 7 = 7
2 Χ 7 = 14
3 Χ 7 = 21
...
10 Χ 7 = 70
```

In [185]:
for i in range(1,11):
    result = i*7
    #print (result)
    print (str(i) + ' X 7 = ' + str(result))

1 X 7 = 7
2 X 7 = 14
3 X 7 = 21
4 X 7 = 28
5 X 7 = 35
6 X 7 = 42
7 X 7 = 49
8 X 7 = 56
9 X 7 = 63
10 X 7 = 70

## Τυπώσε τη προπαίδεια όλως των αριθμών από το 1 .. 10

In [189]:
for x in range(1,11):
    for i in range (1,11):
        result = i*x
        print (str(i) + ' X ' + str(x) + ' = ' + str(result))

1 X 1 = 1
2 X 1 = 2
3 X 1 = 3
4 X 1 = 4
5 X 1 = 5
6 X 1 = 6
7 X 1 = 7
8 X 1 = 8
9 X 1 = 9
10 X 1 = 10
1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20
1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30
1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36
10 X 4 = 40
1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50
1 X 6 = 6
2 X 6 = 12
3 X 6 = 18
4 X 6 = 24
5 X 6 = 30
6 X 6 = 36
7 X 6 = 42
8 X 6 = 48
9 X 6 = 54
10 X 6 = 60
1 X 7 = 7
2 X 7 = 14
3 X 7 = 21
4 X 7 = 28
5 X 7 = 35
6 X 7 = 42
7 X 7 = 49
8 X 7 = 56
9 X 7 = 63
10 X 7 = 70
1 X 8 = 8
2 X 8 = 16
3 X 8 = 24
4 X 8 = 32
5 X 8 = 40
6 X 8 = 48
7 X 8 = 56
8 X 8 = 64
9 X 8 = 72
10 X 8 = 80
1 X 9 = 9
2 X 9 = 18
3 X 9 = 27
4 X 9 = 36
5 X 9 = 45
6 X 9 = 54
7 X 9 = 63
8 X 9 = 72
9 X 9 = 81
10 X 9 = 90
1 X 10 = 10
2 X 10 = 20
3 X 10 = 30
4 X 10 = 40
5 X 10 = 50
6 X 10 = 60
7 X 10 = 70
8 X 10 = 80
9 X 10 = 90
10 X 10 = 100

## Πόσα φωνήεντα έχει μία λέξη;;;;;

In [190]:
f = 'αοειηυω'

In [191]:
w = 'αλεξανδρος'

In [226]:

# Σωστό αλλά πλεονάζων 
c=0
for i in f:
    if i in w:
        #print (i)
        #c += 1
        c += w.count(i)
        
print (c)

4

In [228]:
c=0
for i in f:
    c += w.count(i)
        
print (c)

4

In [229]:
'hello'.count('w')

0

In [205]:
# Πόσα φωνήεντα έχει μία λέξη !

c=0
for i in w:
    if i in f:
        c += 1
        
print (c)

# Πόσα διαφορετικά φωνήεντα έχει μία λέξη!
c=0
for i in f:
    if i in w:
        c += 1
        
print (c)

4
3

### Το άθροισμα όλων των αριθμών από το 1 μέχρι και το 100 που διαιρούνται με 3 !!!!

In [212]:
a = 1
c = 0
while a<=100:
    if a % 3 == 0:
        #print (a)
        c = c + a
        
        
    a += 1
    
print (c)

1683

In [217]:
sum(range(3,101,3))

1683

### Με πόσους (και ποιους) αριθμούς διαιρείται τέλεια το 1250 ;

In [224]:
a=1

c=0 
while a<1251:
    if 1250%a == 0:
        print (a)
        c += 1  # c = c + 1
    a += 1

print (c)

1
2
5
10
25
50
125
250
625
1250
10

In [219]:
rs()

'Aris'

In [220]:
10/0

ZeroDivisionError: division by zero

In [221]:
10 % 0

ZeroDivisionError: integer division or modulo by zero

In [161]:
for x in range(0, 10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [165]:
for x in range(-10, -1):
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [171]:
for x in range(5,6):
    print (x)

5

In [117]:
if 4>2:
    a='mitsos'
print (a)

mitsos

In [112]:
rs()

'Antwnia'

In [230]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [232]:
help([].count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [98]:
rs()

'Andreas'