In [17]:
import random
students = [
    'Tzwrtzina',
    'Andreas',
    'Xristos',
    'Andromaxh',
    'Danah',
    'Antwnia',
    'Aris',
    'Maria',
    'Sofia',
    'Iwanna',
    'Aggelos',
]

def random_student():
    return random.choice(students)

In [18]:
rs = random_student

In [19]:
rs()

'Danah'

In [1]:
print ("hello")

hello

In [1]:
a=1

In [1]:
print (a)

NameError: name 'a' is not defined

In [2]:
'alexandros' + ' ' + 'kanterakis'

'alexandros kanterakis'

In [3]:
'a' * 10

'aaaaaaaaaa'

In [4]:
'a'   'b'

'ab'

In [5]:
'a'  + 'b'

'ab'

In [6]:
'a'

'a'

In [7]:
"a"

'a'

In [8]:
'''a'''

'a'

In [9]:
"""a"""

'a'

In [10]:
'hello
my name is 
alexandros'

SyntaxError: EOL while scanning string literal (<ipython-input-10-171a334fcb52>, line 1)

In [11]:
'''hello 
my name is
alexandros
'''

'hello \nmy name is\nalexandros\n'

In [12]:
a='''hello 
my name is
alexandros
'''

In [13]:
print (a)

hello
my name is
alexandros

In [14]:
"αλέξανδρος".upper()

'ΑΛΈΞΑΝΔΡΟΣ'

In [15]:
a=1

In [16]:
a = a+1
print (a)

2

In [20]:
a=1
b=a
a=2
print (b)

1

In [21]:
a=1
 print(a)

IndentationError: unexpected indent (<ipython-input-21-f7d09fb04155>, line 2)

In [22]:
a=1
print(a)

1

In [24]:
a=1;  
b=2
c=3

In [25]:
a=1;b=1;c=1

In [26]:
!ls -l test_5.csv

-rw-r--r--  1 alexandroskanterakis  staff  24745812 May 28 16:50 test_5.csv

In [27]:
! python -c "a=1;print (a)"

1

In [28]:
name='alex'
print ('my name is ', name)

my name is  alex

In [29]:
a=1
b=2
print (a,b)

1 2

In [31]:
name='alex'
print ('my name is {}'.format(name))

my name is alex

In [32]:
'my {} name is {}'.format(1,2)

'my 1 name is 2'

In [33]:
'my{} name is:{}'.format(1,2)

'my1 name is:2'

In [34]:
'hello my name is {name}'.format(name='alex')

'hello my name is alex'

In [36]:
'hello my {b} name is {name}'.format(name='alex', b=100)

'hello my 100 name is alex'

In [37]:
'hello my {} name is {}'.format('alex', 100)

'hello my alex name is 100'

In [38]:
print ('hello my name is' name)

SyntaxError: invalid syntax (<ipython-input-38-77cef4e4161f>, line 1)

In [39]:
print ('hello my name is' 'alex')

hello my name isalex

In [40]:
'hello my' + b + 'name is ' + name

TypeError: can only concatenate str (not "int") to str

In [41]:
age = 42
'my age is ' + age

TypeError: can only concatenate str (not "int") to str

In [42]:
age = 42
'my age is ' + str(age)

'my age is 42'

In [43]:
str(42)

'42'

In [44]:
str(5.5555)

'5.5555'

In [45]:
str(5.5555) + ' mitsos'

'5.5555 mitsos'

In [46]:
str('44')

'44'

In [47]:
int('5')

5

In [48]:
float('5.6')

5.6

In [50]:
int('           5         ')

5

In [51]:
float('5')

5.0

In [52]:
int('5')

5

In [53]:
print (' my name is \'alex\' ')

 my name is 'alex'

In [54]:
print (" my name is \"alex\" ")

 my name is "alex"

In [55]:
print (" my name is 'alex' ")

 my name is 'alex'

In [56]:
print (' my name is "alex" ')

 my name is "alex"

In [57]:
print (''' my 'name' is "alex" ''')

 my 'name' is "alex"

In [58]:
print (''' my 'name' is\n "alex" ''')

 my 'name' is
 "alex"

In [59]:
print (''' my 'name' is\t "alex" ''')

 my 'name' is	 "alex"

In [62]:
a=3
a += 2 # a = a + 2
print (a)

5

In [63]:
a=3
a -= 2 # a = a - 2
print (a)

1

In [64]:
a=3
a *= 2 # a = a * 2
print (a)

6

In [65]:
a=3
a /= 2 # a = a / 2
print (a)

1.5

In [68]:
a=3
a += 1 # a++ --> DEN YPARXEI!!
print (a)

4

In [66]:
rs()

'Xristos'

In [69]:
True

True

In [70]:
False

False

In [75]:
rs()

'Antwnia'

In [72]:
True or False

True

In [73]:
False or False

False

In [74]:
True or True

True

In [76]:
True and False

False

In [77]:
True and True

True

In [78]:
False and False

False

In [81]:
hlios = False
sunefia = False


hlios or sunefia

False

In [83]:
False or False or False or False

False

In [84]:
False or True or False or False

True

In [85]:
False and False and False and False

False

In [88]:
True and True and True and True

True

In [89]:
True and True and True and False

False

In [ ]:
True and True and True and False

In [87]:
rs()

'Maria'

In [90]:
1+2+3+4

10

In [91]:
((1+2)+3)+4

10

In [92]:
True and True and True and False

False

In [93]:
((True and True) and True) and False

False

In [94]:
(True and True) and False

False

In [95]:
True and False

False

In [97]:
4 > 2

True

In [98]:
4 < 2

False

In [99]:
4 > 2 or 5>5

True

In [112]:
x=200

x>100 and x<200

False

In [113]:
x=1000000

x<100 or x>200

True

In [114]:
x=150

not (x<100 or x>200)

True

In [115]:
x>100

True

In [110]:
not True

False

In [111]:
not False

True

In [116]:
'Mitsos' or 'Kwstas'

'Mitsos'

In [117]:
str(5)

'5'

In [118]:
int('55')

55

In [119]:
bool(True)

True

In [120]:
bool('Mitsos')

True

In [121]:
bool('')

False

In [122]:
'' or False

False

In [123]:
bool(555)

True

In [124]:
bool(0)

False

In [125]:
bool(0.00000000000000000000000000001)

True

In [126]:
bool(0.0)

False

In [128]:
True + 2

3

In [130]:
False + False

0

In [131]:
True + True + False

2

In [133]:
True / (True + True)

0.5

In [135]:
bool('' or 5)

True

In [136]:
bool(0.0 and 5)

False

In [137]:
int(True)

1

In [138]:
int(False)

0

# Λίστες

In [139]:
a = [3,5,'mitsos']

In [140]:
a

[3, 5, 'mitsos']

In [141]:
len(a)

3

In [142]:
len('mitsos')

6

In [144]:
len([])

0

In [145]:
len('')

0

In [146]:
bool([])

False

In [147]:
bool([1,2,5])

True

In [148]:
a = [1,2,3]
b = [7,8,9]

In [150]:
c = a+b

In [151]:
c

[1, 2, 3, 7, 8, 9]

In [153]:
c[0]

1

In [154]:
a = 'mitsos'

In [155]:
a[0]

'm'

In [157]:
c[-1]

9

In [158]:
c

[1, 2, 3, 7, 8, 9]

In [159]:
c[1:-1]

[2, 3, 7, 8]

In [160]:
c[-1:0:-1]

[9, 8, 7, 3, 2]

In [161]:
c

[1, 2, 3, 7, 8, 9]

In [162]:
'mitsos' * 4

'mitsosmitsosmitsosmitsos'

In [163]:
[5,3,7] * 4

[5, 3, 7, 5, 3, 7, 5, 3, 7, 5, 3, 7]

In [164]:
a = [4,5,6]
a.append(9)
print (a)

[4, 5, 6, 9]

In [167]:
a = [4,5,6]
a = [9] + a
print (a)

[9, 4, 5, 6]

In [168]:
a

[9, 4, 5, 6]

In [169]:
a += [10] # a = a + [10]

In [170]:
print (a)

[9, 4, 5, 6, 10]

In [171]:
[10]

[10]

In [172]:
[]

[]

In [173]:
[1,2,3]

[1, 2, 3]

In [174]:
a

[9, 4, 5, 6, 10]

In [180]:
a = a[:3] + [20] + a[3:]

In [181]:
print (a)

[9, 4, 5, 20, 6, 10]

In [183]:
'hello my name is alex'.split()

['hello', 'my', 'name', 'is', 'alex']

In [184]:
'hello          my       name    is     alex    '.split()

['hello', 'my', 'name', 'is', 'alex']

In [185]:
a = ['hello', 'my', 'name', 'is', 'alex']

In [186]:
' '.join(a)

'hello my name is alex'

In [187]:
'+'.join(a)

'hello+my+name+is+alex'

In [188]:
' <--> '.join(a)

'hello <--> my <--> name <--> is <--> alex'

In [189]:
'a+b+c+d'.split('+')

['a', 'b', 'c', 'd']

In [190]:
'hello          my       name    is     alex    '.split(' ')

['hello',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'my',
 '',
 '',
 '',
 '',
 '',
 '',
 'name',
 '',
 '',
 '',
 'is',
 '',
 '',
 '',
 '',
 'alex',
 '',
 '',
 '',
 '']

In [191]:
'hello my name is alex'.split(' ')

['hello', 'my', 'name', 'is', 'alex']

WHITESPACE: https://en.wikipedia.org/wiki/Whitespace_character

In [193]:
''.join( ['hello', 'world']   )

'helloworld'

In [194]:
' '.join( ['hello', 'world']   )

'hello world'

In [195]:
' <--> '.join( ['hello', 'world']   )

'hello <--> world'

In [196]:
len( [] )

0

In [198]:
len(  [ [] ]  )

1

In [199]:
a = [1,2,4, 'mitsos', [], 6]

In [202]:
len(a)

6

In [204]:
a= [  [1,2,3], [6,7,8]  ]
len(a)

2

In [205]:
a

[[1, 2, 3], [6, 7, 8]]

In [207]:
a[0]

[1, 2, 3]

In [208]:
a[1]

[6, 7, 8]

In [209]:
a = [  [1,2,3],  [5, [6,7, [6,15]] ], 6  ]

In [211]:
len(a)

3

In [212]:
a[1]

[5, [6, 7, [6, 15]]]

In [214]:
a[1][1]

[6, 7, [6, 15]]

In [216]:
a[1][1][2]

[6, 15]

In [217]:
a[1][1][2][0]

6

In [219]:
a

[[1, 2, 3], [5, [6, 7, [6, 15]]], 6]

In [223]:
a[1][1][2][0] = 20

In [224]:
a

[[1, 2, 3], [5, [6, 7, [20, 15]]], 6]

In [227]:
3 == 5-2

True

In [229]:
a=3
b=3
a==b

True

== , τσεκάρει αν το αριστερό και δεξιό τμήμα έχουν την ίδια τιμη

In [233]:
a==3

False

In [231]:
a+=2

In [232]:
print (a)

5

In [236]:
a=3
b = a==3

a+=5

print (b)

True

In [240]:
a=3

b = a==3
print (b)

a+=5

b = a==3
print (b)

True
False

In [241]:
'mitsos' == 'mitsos'

True

In [242]:
'mitsos' == 'Mitsos'

False

In [243]:
'mitsos' == 'Mitsos'.lower()

True

In [245]:
[2,3] == [2,4-1]

True

In [247]:
[2,3] == [3,2]

False

In [248]:
[] == []

True

In [249]:
[2,3] == [3,2][::-1]

True

In [251]:
'Mitsos'[::-1]

'sostiM'

In [253]:
15 != 10

True

In [254]:
a = [[1, 2, 3], [5, [6, 7, [20, 15]]], 6]

In [255]:
int('5')

5

In [257]:
type(3)

int

In [258]:
type(5.5)

float

In [259]:
type('asdfasdf')

str

In [260]:
type([5,6,7])

list

In [261]:
type(True)

bool

In [262]:
a

[[1, 2, 3], [5, [6, 7, [20, 15]]], 6]

In [263]:
type(a) is list

True

In [264]:
type(a[0]) is list

True

In [265]:
type(a[-1]) is list

False

In [266]:
a = [3,4,5]

In [267]:
a.append(9)

In [268]:
print (a)

[3, 4, 5, 9]

In [269]:
type(a) == list

True

In [271]:
a.extend([10])

In [272]:
a

[3, 4, 5, 9, 10]

In [273]:
# APPEND
a = [3,4,5]
a.append(   6   )
print (a)

a = [3,4,5]
a += [6] # a= a + [6]
print (a)

[3, 4, 5, 6]
[3, 4, 5, 6]

In [274]:
# EXTEND

a = [3,4,5]
a.extend(   [6,7,8]   )
print (a)

a = [3,4,5]
a += [6,7,8]
print (a)

[3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]

In [275]:
a = [3,4,5]
a.append( [6,7,8] )
print (a)


a = [3,4,5]
a.extend( [6,7,8] )
print (a)

[3, 4, 5, [6, 7, 8]]
[3, 4, 5, 6, 7, 8]

In [276]:
[3,4,5] + [6,7,8]

[3, 4, 5, 6, 7, 8]

In [277]:
[3,4,5] + [[6,7,8]]

[3, 4, 5, [6, 7, 8]]

In [278]:
a = [1,2,3]
a.extend([5,6])
print (a)

[1, 2, 3, 5, 6]

In [279]:
a = [1,2,3]
a.append(5)
a.append(6)
print (a)

[1, 2, 3, 5, 6]

In [280]:
# DIAFORES LISTES ME STRING!

In [282]:
a = [1,2,3]
a[1] = 15
print(a)

[1, 15, 3]

In [284]:
a = 'Mitsos'
a[1] = 'X'
print (a)

TypeError: 'str' object does not support item assignment

In [285]:
a[:1] + 'X' + a[2:]

'MXtsos'

In [296]:
a = 'Mitsos'
b = a
a = b + ' 123'
#b = a
print (b)

Mitsos

In [297]:
id(a)

4397792112

In [298]:
id(b)

4397693392

In [299]:
a = [1,2,3]
b = a
a += [6,7,8]
print (b)

[1, 2, 3, 6, 7, 8]

In [300]:
id(a)

4397824904

In [301]:
id (b)

4397824904

In [302]:
a is b

True

In [318]:
a = [1]* 1000000

In [319]:
b = a

In [320]:
a = 'K' * 1000000

In [321]:
b=a

In [322]:
c=b

In [290]:
rs()

'Iwanna'

In [310]:
a = 10000
b = 10000

In [311]:
a == b

True

In [312]:
a is b

False

In [313]:
a = [1,2,3]
b = a

In [314]:
a is b

True

In [315]:
a += [6]

In [316]:
print (b)

[1, 2, 3, 6]

In [317]:
id(a) == id(b)

True

In [326]:
a = 'mitsos'

In [327]:
id(a)

4397705176

In [328]:
a = a + ' llll'

In [329]:
id(a)

4397828272

In [330]:
a = [1,2,3]

In [331]:
id(a)

4397790856

In [332]:
a = a + [6,7,8]

In [334]:
id(a)

4397853512

In [339]:
a = [1,2,3]

In [336]:
id(a)

4397828488

In [337]:
a.append(10)

In [338]:
id(a)

4397828488

In [340]:
None

In [341]:
όνομα = 'Μήτσος'

In [342]:
print (όνομα)

Μήτσος