# import

In [105]:
students = [
    'student_1',
    'student_2',
]

import random

def pick():
    return random.choice(students)

In [2]:
pick()

'Νίκος'

In [2]:
import part1

In [3]:
part1.f()

42

In [6]:
from part1 import f

In [7]:
f()

42

In [1]:
from part1 import f,g

In [1]:
from part1 import f

In [2]:
from part1 import g

In [3]:
import part1

In [1]:
from part1 import *

In [2]:
f()

42

In [3]:
g()

10

In [4]:
def f():
    return 'maria'

In [5]:
part1.f()

42

In [6]:
f()

'maria'

In [1]:
from part1 import f

In [2]:
f()

42

In [3]:
def f():
    return 'maria'

In [4]:
f()

'maria'

In [5]:
sum

In [6]:
sum([1,2,3])

6

In [7]:
sum = 'mitsos'

In [8]:
sum([1,2,3])

TypeError: 'str' object is not callable

In [ ]:
'mit

In [1]:
max = min

In [2]:
max([3,4,5])

3

In [4]:
a=3

In [5]:
id(a)

4486362240

In [6]:
import antigravity

In [7]:
from collections import Counter

In [8]:
Counter('asd;kjfhzsldjhfglskjdfglaskjfhlaskjdfhlakjdfhg')

Counter({'a': 4,
         's': 5,
         'd': 5,
         ';': 1,
         'k': 5,
         'j': 6,
         'f': 6,
         'h': 5,
         'z': 1,
         'l': 5,
         'g': 3})

In [42]:
d = Counter([pick() for x in range(1000)])

In [43]:
d

Counter({'Νίκος': 109,
         'Έλσα': 134,
         'Άρτεμις': 118,
         'Αιμίλιος': 118,
         'Δανάη': 117,
         'Αθανασία': 124,
         'Κλάρα': 134,
         'Πολίνα': 146})

In [45]:
d['Νίκος']

109

In [47]:
for k,v in d.items():
    print (k,'-->',v)

Νίκος --> 109
Έλσα --> 134
Άρτεμις --> 118
Αιμίλιος --> 118
Δανάη --> 117
Αθανασία --> 124
Κλάρα --> 134
Πολίνα --> 146

In [73]:
pick()

'Πολίνα'

In [74]:
from collections import defaultdict

In [76]:
d = {}

In [77]:
d['Νίκος'] += 1

KeyError: 'Νίκος'

In [78]:
d['Νίκος'] = 0

In [79]:
d['Νίκος']+=1

In [81]:
d['Νίκος']

1

In [82]:
l = [pick() for x in range(1000)]

In [86]:
d = {}
for x in l:
    if not x in d:
        d[x] = 0
    d[x] += 1

In [88]:
d

{'Δανάη': 144,
 'Αθανασία': 101,
 'Αιμίλιος': 126,
 'Άρτεμις': 136,
 'Κλάρα': 131,
 'Πολίνα': 120,
 'Έλσα': 122,
 'Νίκος': 120}

In [89]:
e = defaultdict(int)
d = {}

In [90]:
e['Μήτσος']

0

In [92]:
 d['Μήτσος']

KeyError: 'Μήτσος'

In [94]:
e=defaultdict(int)
for x in l:
    e[x] += 1

In [96]:
e

defaultdict(int,
            {'Δανάη': 144,
             'Αθανασία': 101,
             'Αιμίλιος': 126,
             'Άρτεμις': 136,
             'Κλάρα': 131,
             'Πολίνα': 120,
             'Έλσα': 122,
             'Νίκος': 120})

In [97]:
e=defaultdict(list)

In [98]:
e['Mitsos']

[]

In [101]:
pick()

'Δανάη'

In [107]:
a=[2,3,4,2,3,4,5,8]

In [105]:
for i in range(len(a)-1):
    if a[i]>a[i+1]:
        pass

In [109]:
b = [(a[i], a[i+1]) for i in range(0, len(a)-1, 2)]

In [111]:
b

[(2, 3), (4, 2), (3, 4), (5, 8)]

In [113]:
c = []
for x,y in b:
    c.append(x)
    c.append(y)
c

[2, 3, 4, 2, 3, 4, 5, 8]

In [114]:
c = []
for x in b:
    c.extend(x)
c

[2, 3, 4, 2, 3, 4, 5, 8]

In [115]:
c = [3,4,5]

In [117]:
c.append(8)
c

[3, 4, 5, 8]

In [119]:
c.append([1,2])
c

[3, 4, 5, 8, [1, 2]]

In [120]:
c = [3,4,5,8]
c.extend([1,2])
c

[3, 4, 5, 8, 1, 2]

In [121]:
b

[(2, 3), (4, 2), (3, 4), (5, 8)]

In [123]:
[y for x in b for y in x] # Flattening

[2, 3, 4, 2, 3, 4, 5, 8]

In [124]:
d = []
for x in b:
    for y in x:
        d.append(y)
d

[2, 3, 4, 2, 3, 4, 5, 8]

In [1]:
import random

In [224]:
random.random()

0.06275633799325842

In [194]:
random.randint(5,29)

12

In [226]:
min(random.random() for i in range(1000000))

9.48162305003386e-07

In [2]:
max(random.random() for i in range(1000000))

0.9999994186753176

In [94]:
a=[5,4,6,3,5]
random.shuffle(a)
a

[3, 6, 5, 5, 4]

In [102]:
random.choice(a)

4

In [103]:
import itertools

In [106]:
students

['Πολίνα',
 'Έλσα',
 'Νίκος',
 'Αιμίλιος',
 'Αθανασία',
 'Κλάρα',
 'Άρτεμις',
 'Δανάη']

In [109]:
for c in itertools.combinations(students, 2):
    print (c)

('Πολίνα', 'Έλσα')
('Πολίνα', 'Νίκος')
('Πολίνα', 'Αιμίλιος')
('Πολίνα', 'Αθανασία')
('Πολίνα', 'Κλάρα')
('Πολίνα', 'Άρτεμις')
('Πολίνα', 'Δανάη')
('Έλσα', 'Νίκος')
('Έλσα', 'Αιμίλιος')
('Έλσα', 'Αθανασία')
('Έλσα', 'Κλάρα')
('Έλσα', 'Άρτεμις')
('Έλσα', 'Δανάη')
('Νίκος', 'Αιμίλιος')
('Νίκος', 'Αθανασία')
('Νίκος', 'Κλάρα')
('Νίκος', 'Άρτεμις')
('Νίκος', 'Δανάη')
('Αιμίλιος', 'Αθανασία')
('Αιμίλιος', 'Κλάρα')
('Αιμίλιος', 'Άρτεμις')
('Αιμίλιος', 'Δανάη')
('Αθανασία', 'Κλάρα')
('Αθανασία', 'Άρτεμις')
('Αθανασία', 'Δανάη')
('Κλάρα', 'Άρτεμις')
('Κλάρα', 'Δανάη')
('Άρτεμις', 'Δανάη')

In [110]:
for c in itertools.combinations(students, 3):
    print (c)

('Πολίνα', 'Έλσα', 'Νίκος')
('Πολίνα', 'Έλσα', 'Αιμίλιος')
('Πολίνα', 'Έλσα', 'Αθανασία')
('Πολίνα', 'Έλσα', 'Κλάρα')
('Πολίνα', 'Έλσα', 'Άρτεμις')
('Πολίνα', 'Έλσα', 'Δανάη')
('Πολίνα', 'Νίκος', 'Αιμίλιος')
('Πολίνα', 'Νίκος', 'Αθανασία')
('Πολίνα', 'Νίκος', 'Κλάρα')
('Πολίνα', 'Νίκος', 'Άρτεμις')
('Πολίνα', 'Νίκος', 'Δανάη')
('Πολίνα', 'Αιμίλιος', 'Αθανασία')
('Πολίνα', 'Αιμίλιος', 'Κλάρα')
('Πολίνα', 'Αιμίλιος', 'Άρτεμις')
('Πολίνα', 'Αιμίλιος', 'Δανάη')
('Πολίνα', 'Αθανασία', 'Κλάρα')
('Πολίνα', 'Αθανασία', 'Άρτεμις')
('Πολίνα', 'Αθανασία', 'Δανάη')
('Πολίνα', 'Κλάρα', 'Άρτεμις')
('Πολίνα', 'Κλάρα', 'Δανάη')
('Πολίνα', 'Άρτεμις', 'Δανάη')
('Έλσα', 'Νίκος', 'Αιμίλιος')
('Έλσα', 'Νίκος', 'Αθανασία')
('Έλσα', 'Νίκος', 'Κλάρα')
('Έλσα', 'Νίκος', 'Άρτεμις')
('Έλσα', 'Νίκος', 'Δανάη')
('Έλσα', 'Αιμίλιος', 'Αθανασία')
('Έλσα', 'Αιμίλιος', 'Κλάρα')
('Έλσα', 'Αιμίλιος', 'Άρτεμις')
('Έλσα', 'Αιμίλιος', 'Δανάη')
('Έλσα', 'Αθανασία', 'Κλάρα')
('Έλσα', 'Αθανασία', 'Άρτεμις')
('Έλσα', 'Αθανασία', 'Δανάη')
('Έλσα', 'Κλάρα', 'Άρτεμις')
('Έλσα', 'Κλάρα', 'Δανάη')
('Έλσα', 'Άρτεμις', 'Δανάη')
('Νίκος', 'Αιμίλιος', 'Αθανασία')
('Νίκος', 'Αιμίλιος', 'Κλάρα')
('Νίκος', 'Αιμίλιος', 'Άρτεμις')
('Νίκος', 'Αιμίλιος', 'Δανάη')
('Νίκος', 'Αθανασία', 'Κλάρα')
('Νίκος', 'Αθανασία', 'Άρτεμις')
('Νίκος', 'Αθανασία', 'Δανάη')
('Νίκος', 'Κλάρα', 'Άρτεμις')
('Νίκος', 'Κλάρα', 'Δανάη')
('Νίκος', 'Άρτεμις', 'Δανάη')
('Αιμίλιος', 'Αθανασία', 'Κλάρα')
('Αιμίλιος', 'Αθανασία', 'Άρτεμις')
('Αιμίλιος', 'Αθανασία', 'Δανάη')
('Αιμίλιος', 'Κλάρα', 'Άρτεμις')
('Αιμίλιος', 'Κλάρα', 'Δανάη')
('Αιμίλιος', 'Άρτεμις', 'Δανάη')
('Αθανασία', 'Κλάρα', 'Άρτεμις')
('Αθανασία', 'Κλάρα', 'Δανάη')
('Αθανασία', 'Άρτεμις', 'Δανάη')
('Κλάρα', 'Άρτεμις', 'Δανάη')

In [111]:
a = list(itertools.combinations(range(1,50), 6))

In [112]:
len(a)

13983816

In [113]:
a[1000]

(1, 2, 3, 5, 6, 17)

In [114]:
from itertools import cycle

In [115]:
a = cycle(students)

In [155]:
next(a)

'Δανάη'

In [156]:
places = [
    'Germany', 'Italy', 'France'
]

In [157]:
for x in itertools.product(students, places):
    print (x)

('Πολίνα', 'Germany')
('Πολίνα', 'Italy')
('Πολίνα', 'France')
('Έλσα', 'Germany')
('Έλσα', 'Italy')
('Έλσα', 'France')
('Νίκος', 'Germany')
('Νίκος', 'Italy')
('Νίκος', 'France')
('Αιμίλιος', 'Germany')
('Αιμίλιος', 'Italy')
('Αιμίλιος', 'France')
('Αθανασία', 'Germany')
('Αθανασία', 'Italy')
('Αθανασία', 'France')
('Κλάρα', 'Germany')
('Κλάρα', 'Italy')
('Κλάρα', 'France')
('Άρτεμις', 'Germany')
('Άρτεμις', 'Italy')
('Άρτεμις', 'France')
('Δανάη', 'Germany')
('Δανάη', 'Italy')
('Δανάη', 'France')

In [158]:
import os

In [160]:
os.path.exists('part1.py')

True

In [161]:
os.path.exists('part2.py')

False

In [162]:
os.path.join('asda', 'asdasd', 'asdasd')

'asda/asdasd/asdasd'

In [165]:
os.getcwd()

'/Users/alexandroskanterakis/Downloads'

In [167]:
os.path.exists('/Users/alexandroskanterakis/part2.py')

False

In [168]:
import re

In [169]:
a = 'rkjfhalskdfhlaskjdfhlaskdjfh23475623skjdfghsdjklfghsdkljgfh'

In [170]:
pattern = '[0-9]'

In [171]:
re.findall(pattern, a)

['2', '3', '4', '7', '5', '6', '2', '3']

In [172]:
re.findall('[0-9]', a)

['2', '3', '4', '7', '5', '6', '2', '3']

In [173]:
re.findall('[0-9]+', a)

['23475623']

In [175]:
re.findall('[\d]+', a)

['23475623']

In [176]:
re.findall('[a-z]+', a)

['rkjfhalskdfhlaskjdfhlaskdjfh', 'skjdfghsdjklfghsdkljgfh']

In [186]:
re.findall('[^\d](69[\d]+)', 'rkjfhalskdfkdjfh6923475623skjdf98769876ghsdkljgfh')

['6923475623']

In [187]:
a = [
    'adfasdf', '1234asdfasdf', 'asdsdg', '989654gderr'
]

In [195]:
for x in a:
    found =  re.findall('^\d.+', x)
    print (found)

[]
['1234asdfasdf']
[]
['989654gderr']

In [209]:
a = re.search('^\d+', 'sdfgdfgsdfgsdfg')

In [222]:
a=re.search('(\d+)[^\d]+(\d+)', 'sdfgdfhgsd72345rq5fgsdfg')

In [225]:
a.group(1)

'72345'

In [226]:
a.group(2)

'5'

In [227]:
a.group(0)

'72345rq5'

In [232]:
re.findall('TT', 'TTTTTT')

['TT', 'TT', 'TT']

In [210]:
if a:
    print ('found')
else:
    print ('not found!')

not found!

In [233]:
a = re.findall('^\d+', 'sdfgdfgsdfgsdfg')
if a:
    print ('found')
else:
    print ('not found!')

not found!

In [237]:
a = [
    'adfasdf', '1234asdfasdf', 'asdsdg', '989654gderr'
]
for x in a:
    #found =  re.search('^\d', x)
    found =  re.search('f$', x)
    if found:
        print (x)

adfasdf
1234asdfasdf

In [292]:
a= re.search(r'\+?\d+', 'sdfgdfhgsd513512345dgsdfg')
a.group(0)

'513512345'

In [244]:
a= re.search(r'\+?\d+', 'sdfgdfhgsd+513512345dgsdfg')
a.group(0)

'+513512345'

In [257]:
a= re.search(r'[+-]?\d+', 'sdfgdfhgsd513512345dgsdfg')
a.group(0)

'513512345'

In [259]:
a= re.search(r'[+-]+\d+', 'sdfgdfhgsd+++513512345dgsdfg')
a.group(0)

'+++513512345'

In [260]:
a= re.search(r'[+-]*\d+', 'sdfgdfhgsd513512345dgsdfg')
a.group(0)

'513512345'

In [266]:
a = 'I bought 3 bananas I bought 5 bananas I bought 10 bananas' # Σταματάει στο τελευταίο bananas
result = re.search(r'I bought [\w ]+ bananas', a)
print(result.group())

#a = 'I bought 3 bananas I bought 5 bananas I bought 10 bananas' # Σταματάσει στο πρώτο bananas
#result = re.search(r'I bought [\w ]+? bananas', a)
#print(result.group())

I bought 3 bananas I bought 5 bananas I bought 10 bananas

In [278]:
re.search('[^f]f{4,7}[^f]', 'aassffffffffsss')

In [279]:
a= re.search('[+-]*\d+', '++++-------77777')
a.group(0)

'++++-------77777'

In [280]:
a = 'mitsos'

In [282]:
a = 'mit\nsos'

In [283]:
print (a)

mit
sos

In [284]:
a = 'mit\\nsos'

In [285]:
print (a)

mit\nsos

In [286]:
a = 'mit\\\\nsos'

In [287]:
print (a)

mit\\nsos

In [289]:
a = 'mit\\\nsos'
print (a)

mit\
sos

In [290]:
a = r'mit\nsos'
print (a)

mit\nsos

In [291]:
a = 'mit\nsos'
print (a)

mit
sos

In [299]:
a = re.search(r'(?P<first>[\w]+)[\s]+(?P<second>[\w]+)', 
              'Mitsos          Mitsaklas')

In [301]:
a.group('first')

'Mitsos'

In [302]:
a.group('second')

'Mitsaklas'

In [304]:
a.groupdict()

{'first': 'Mitsos', 'second': 'Mitsaklas'}

In [305]:
a = [1,2,3]
b = [1,2,3]

In [306]:
a == b

True

In [307]:
a is b

False

In [308]:
c = a

In [309]:
a is c

True

In [310]:
a

[1, 2, 3]

In [311]:
c

[1, 2, 3]

In [312]:
a[0] = 10

In [313]:
c

[10, 2, 3]

In [314]:
a

[10, 2, 3]

In [315]:
import copy

In [316]:
a = copy.copy(c)

In [317]:
a = [1,2,3]

In [318]:
b = [a,a,a]

In [319]:
b

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [320]:
c = copy.copy(b)

In [321]:
c

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [322]:
b[0][0] = 10

In [323]:
c

[[10, 2, 3], [10, 2, 3], [10, 2, 3]]

In [324]:
d = copy.deepcopy(b)

In [325]:
d

[[10, 2, 3], [10, 2, 3], [10, 2, 3]]

In [326]:
b[0][0] = -1

In [327]:
d

[[10, 2, 3], [10, 2, 3], [10, 2, 3]]

In [328]:
a

[-1, 2, 3]

In [329]:
b = a

In [330]:
b is a

True

In [331]:
id(b)

5806038728

In [332]:
id(a)

5806038728

In [333]:
# Όλα τα ζευγάρια κ,λ θετικών ακεραίων που είναι μικρότεροι ή ίσοι με το 10

In [334]:
for i in range(1,11):
    for j in range(1,11):
        print (i,j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
4 10
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
5 10
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
6 10
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
7 10
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
8 10
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
9 10
10 1
10 2
10 3
10 4
10 5
10 6
10 7
10 8
10 9
10 10

In [341]:
a = [1,2,3,4,5]

In [342]:
def f(x):
    return x>3

In [344]:
list(filter(f, a))

[4, 5]

In [345]:
list(filter(lambda x : x>3, a))

[4, 5]

In [354]:
def f(x):
    return x*2

In [355]:
list(map(f,a))

[2, 4, 6, 8, 10]

In [367]:
type(f)

function

In [368]:
def f():
    return 42

In [369]:
f = lambda : 42

In [370]:
def f(x):
    return x*2

f = lambda x : x*2