In [1]:
students = [
    'student 1',
    'student 2',
]

import random
def pick():
    return random.choice(students)

In [2]:
pick()

'student 2'

### Τελεστές

* +
* -
* /
* //
* *
* %
* \*\*
* <
* \>
* <=
* \>=
* !=
* ==
* not
* in
* is

In [9]:
5%2

1

In [11]:
10%3

1

In [14]:
25%5

0

In [21]:
pick()

'Έλσα'

In [16]:
5<3

False

In [17]:
'Αθανασία' < 'Μαρία'

True

In [20]:
'Αλεξανδρος' < 'Αλεξανδρα'

False

In [22]:
True > False

True

In [23]:
2 != 1+1

False

In [26]:
pick()

'Άρτεμις'

In [25]:
3 != 3.0000000000001

True

In [27]:
3 != 3.0

False

In [28]:
'Μήτσος' != 'Μήτσο' + 'ς'

False

In [29]:
True != 1

False

In [30]:
True + True != 2

False

In [31]:
pick()

'Μαρία'

In [32]:
3 == 5-2

True

In [33]:
3 == 3.0

True

In [54]:
pick()

'Κλάρα'

In [36]:
#    ΑΠΟΘΗΚΕΥΣΕ ΤΟ ΕΔΩ      =   ΥΠΟΛΟΓΙΣΕ ΤΙ ΒΡΙΣΚΕΤΑΙ ΕΔΩ

In [45]:
a = 3+2

In [44]:
a

5

In [46]:
4
5
6

6

In [47]:
print (4)
print (5)
print (6)

4
5
6

In [49]:
'Αλέξανδρος' == 'Αλεξάνδρα'

False

In [52]:
3**2

9

In [53]:
'αλέ' in 'αλέξανδρος'

True

In [55]:
'h' in 'heraklion'

True

In [57]:
'h' in 'Athens'

True

In [59]:
'h' in 'Patra'

False

In [64]:
pick()

'Αιμίλιος'

In [60]:
'h' in 'h'

True

In [61]:
'h' in 'H'

False

In [63]:
3 in 33

TypeError: argument of type 'int' is not iterable

In [65]:
3 in '33'

TypeError: 'in <string>' requires string as left operand, not int

In [66]:
'3' in '34'

True

In [67]:
'3' in '33333333333'

True

In [68]:
'3' in '4444444444443'

True

In [69]:
'323u47523874562387462345234'.count('3')

6

In [70]:
a = 'μήτσος'
b = 'μήτσος'

In [78]:
pick()

'Πολίνα'

In [72]:
a == b

True

In [73]:
a is b

False

In [74]:
c = b

In [75]:
c is b

True

In [77]:
c

'μήτσος'

In [79]:
b

'μήτσος'

In [80]:
c += ' 2'

In [81]:
c

'μήτσος 2'

In [82]:
b

'μήτσος'

In [83]:
b is c

False

In [84]:
type('μήτσος')

str

In [85]:
type(3)

int

In [86]:
type(4.4)

float

In [87]:
type(True)

bool

In [89]:
type(c)

str

In [88]:
pick()

'Γιάννης'

In [90]:
type(None)

NoneType

In [91]:
c

'μήτσος 2'

In [92]:
type(c) is str

True

In [93]:
t = type(c) is str

In [94]:
t

True

In [ ]:
a = 3+4

In [96]:
not True

False

In [97]:
not False

True

In [99]:
not 4

False

In [101]:
not ''

True

In [103]:
not not True

True

In [104]:
pick()

'Αθανασία'

In [105]:
not not (True or False)

True

### Λίστες

In [106]:
[2,3,6]

[2, 3, 6]

In [107]:
a = [2,3,6]

In [116]:
pick()

'Γιάννης'

In [111]:
a[0]

2

In [113]:
a[2]

6

In [110]:
'abc'[1]

'b'

In [114]:
a

[2, 3, 6]

In [115]:
a = [2,3,4,5,4,3,4,5,6,7,8]

In [117]:
a[-1]

8

In [120]:
pick()

'Δανάη'

In [119]:
a[1:4]

[3, 4, 5]

In [121]:
a[1:7:2]

[3, 5, 3]

In [122]:
a

[2, 3, 4, 5, 4, 3, 4, 5, 6, 7, 8]

In [125]:
pick()

'Έλσα'

In [124]:
a[-1:-3:-1]

[8, 7]

In [126]:
a[-1:-3:2]

[]

In [127]:
'a;kjdfhalsdkjfghlaskdjfgh'[-1:-3:2]

''

In [128]:
a[1:5:-2]

[]

In [130]:
len([])

0

In [139]:
pick()

'Δανάη'

In [132]:
a = [1,5,'mitsos', [4,5,6], 9]

In [133]:
len(a)

5

In [136]:
len([    []     ])

1

In [138]:
len([       []          ,      []     ])

2

In [140]:
len([[[[[[[[[[[[[[[[[[[[[[[]]]]]]]]]]]]]]]]]]]]]]])

1

In [141]:
a

[1, 5, 'mitsos', [4, 5, 6], 9]

In [144]:
a[3]

[4, 5, 6]

In [145]:
pick()

'Αιμίλιος'

In [146]:
a[3][1]

5

In [147]:
[[1,2,3], [4,5,6], [7,8,9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [149]:
[3,3,4,5,6,3,2].count(3)

3

In [151]:
[3,3,4,5,6,3,2].count(7)

0

In [153]:
3 in [3,3,4,5,6,3,2]

True

In [189]:
7 in [3,3,4,5,6,3,2]

False

In [191]:
'Mitsos' in [3,3,4,5,6,3,2]

False

In [193]:
1 in [2, [1,2], 3]

False

In [196]:
pick()

'Έλσα'

In [195]:
[1,2] in [2, [1,2], 3]

True

In [197]:
[2,1] in [2, [1,2], 3]

False

In [204]:
3 in [1,2] in [2, [1,2], 3]

False

In [ ]:
1 in ([1,2] in [2, [1,2], 3])

In [199]:
1 in True

TypeError: argument of type 'bool' is not iterable

In [198]:
1+2+3

6

In [210]:
1+(2+3)

6

In [211]:
(1+2)+3

6

In [214]:
1 in ([1,2] in [2, [1,2], 3])

TypeError: argument of type 'bool' is not iterable

In [215]:
1 in True

TypeError: argument of type 'bool' is not iterable

In [209]:
1 in [1,2] in 'Mi'

TypeError: 'in <string>' requires string as left operand, not list

In [216]:
'in' in 'instrument'

True

In [217]:
3 in [1,2,3]

True

In [218]:
a = [1,2,3]

In [220]:
[1,2,3] + [4]

[1, 2, 3, 4]

In [221]:
[1,2,3] + 4

TypeError: can only concatenate list (not "int") to list

In [222]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [223]:
a = [1,2,3]

In [224]:
a += [4]

In [ ]:
a += [4]
a = [1,2,3] + [4]

In [226]:
a = [4,5,6]

In [ ]:
[0,4,5,6]

In [227]:
pick()

'Άρτεμις'

In [228]:
a = [0] + a

In [229]:
a

[0, 4, 5, 6]

In [230]:
a = [3,4,6,7]

In [ ]:
[3,4,5,6,7]

In [231]:
pick()

'Μαρία'

In [233]:
a[0:2]

[3, 4]

In [235]:
a[2:]

[6, 7]

In [347]:
a = 5 + 7

In [236]:
a[0:2] + a[2:]

[3, 4, 6, 7]

In [237]:
a[0:2] + [5] + a[2:]

[3, 4, 5, 6, 7]

In [238]:
a[:2] + [5] + a[2:]

[3, 4, 5, 6, 7]

In [242]:
a = [3,4,6,7]

In [243]:
a.insert(2, 5)

In [244]:
a

[3, 4, 5, 6, 7]

In [245]:
a

[3, 4, 5, 6, 7]

In [246]:
a = [3,4,6,7]

In [247]:
pick()

'Δανάη'

In [248]:
a[2] = 100

In [249]:
a

[3, 4, 100, 7]

In [250]:
b =  'mitsos'

In [256]:
a = [3,4,6,7]

In [253]:
a = a[:-1]

In [259]:
help(a.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [258]:
a

[4, 6, 7]

In [261]:
3 >= 3

True

In [263]:
[2,5] < [1,7]

False

In [265]:
[2,5] < [3]

True

In [267]:
[2,5] < [2,7]

True

In [268]:
'ae' < 'ak'

True

In [269]:
'ae' < 'b'

True

In [270]:
[2,5] < [2,5,7]

True

In [271]:
'ab' < 'aba'

True

In [273]:
[2,5] * 7

[2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5]

In [274]:
[2,5] * [2,5]

TypeError: can't multiply sequence by non-int of type 'list'

In [275]:
[4] * 10

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [276]:
list('mitsos')

['m', 'i', 't', 's', 'o', 's']

In [278]:
list([4,5,6,7])

[4, 5, 6, 7]

In [280]:
[1,2,3]

[1, 2, 3]

### if

In [281]:
if 3<4:
    print ('hello')

hello

In [283]:
if 4<3:
    print ('hello')

In [285]:
print ('1')
if 3<4:
    print ('hello')
print ('2')

1
hello
2

In [288]:
print ('1')
if 4<3:
    print ('hello')
print ('2')

1
2

In [290]:
print ('1')
if 'Mitsos':
    print ('hello')
print ('2')

1
hello
2

In [292]:
print ('1')
if '':
    print ('hello')
print ('2')

1
2

In [293]:
print ('1')
if []:
    print ('hello')
print ('2')

1
2

In [295]:
print ('1')
if [[[[[[[[[[[[[[[[[[[[[]]]]]]]]]]]]]]]]]]]]] :
    print ('hello')
print ('2')

1
hello
2

In [299]:
print ('1')
if True :
    print ('hello')
    print ('mitsos')
print ('2')

1
hello
mitsos
2

In [301]:
print ('1')
if False :
    print ('hello')
print ('mitsos')
print ('2')

1
mitsos
2

In [305]:
print ('1')
if True:
    print ('hello')
    
    if True:
        print ('Kostas')
        
    print ('mitsos')

print ('2')

1
hello
Kostas
mitsos
2

In [307]:
print ('1')
if True: 
    print ('hello')
    if True:
        print ('Kostas')

print ('2')

1
hello
Kostas
2

In [308]:
if True:
    print ('hello')

hello

In [309]:
if True:
                                   print ('hello')

hello

In [310]:
if True:
 print ('hello')

hello

In [314]:
if True:
 print ('hello')
print ('mitsos')

hello
mitsos

In [315]:
a     =       5+        7

In [316]:
a=5+7

In [300]:
pick()

'Έλσα'

In [303]:
from __future__ import braces

SyntaxError: not a chance (<ipython-input-303-b9e031678f96>, line 1)

In [348]:
if True:
    print ('Hello')

Hello

In [351]:
print ('1')
if True:
    print ('Hello')
print ('2')

1
Hello
2

In [353]:
print ('1')
if True:
    
print ('2')

IndentationError: expected an indented block (<ipython-input-353-3c9ad418f11c>, line 4)

In [354]:
print ('1')
if True:
    pass
print ('2')

1
2

In [355]:
pass

In [357]:
print ('1')
if True:
    print ("hello")
else:
    print ('Mitsos')
print ('2')

1
hello
2

In [359]:
print ('1')
if False:
    print ("hello")
else:
    print ('Mitsos')
print ('2')

1
Mitsos
2

In [ ]:
print ('1')

if True:
    print ("hello")

print ('2')

In [360]:
print ('hello')
 print ('mitsos')

IndentationError: unexpected indent (<ipython-input-360-6e383a2739d3>, line 2)

In [362]:
   print ('hello')
   print ('mitsos')

hello
mitsos

In [365]:
print ('hello')
a=1
if a==1:
    print ('mitsos')
else:
    print ('maria')
print ('kostas')

hello
mitsos
kostas

In [367]:
print ('hello')
a=2
if a==1:
    print ('mitsos')
else:
    print ('maria')
print ('kostas')

hello
maria
kostas

In [368]:
print ('hello')
a=2
if a==1:
    print ('mitsos')
elif a==2:
    print ('elenh')
else:
    print ('maria')
print ('kostas')

hello
elenh
kostas

In [370]:
print ('hello')
a=3
if a==1:
    print ('mitsos')
elif a==2:
    print ('elenh')
print ('kostas')

hello
kostas

In [372]:
print ('hello')
a=3
if a==1:
    print ('mitsos')
elif a==2:
    print ('elenh')
elif a==3:
    print ('dhmhtrhs')
print ('kostas')

hello
dhmhtrhs
kostas

### while

In [383]:
a=1
while a<10:
    print (a)
    a+=1
print ('mitsos')
print (a)

1
2
3
4
5
6
7
8
9
mitsos
10

In [384]:
a=1

while a<100:
    if a%2 == 1:
        print (a)
    a+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [382]:
a=1
a += 1
print (a)

2

In [380]:
pick()

'Πολίνα'

In [385]:
a = 1
while a<=10:
    print (a*8)
    a+=1

8
16
24
32
40
48
56
64
72
80

In [387]:
a = 0
while a<=10:
    print (a*8)
    a+=1

0
8
16
24
32
40
48
56
64
72
80

In [393]:
a=30
b=40
print ('Mitsos is', a, ' years old and his brother is', b)

Mitsos is 30  years old and his brother is 40

In [396]:
a = 1
while a<=10:
    print (a, 'fores to 8 mas kanei', a*8)
    a+=1

1 fores to 8 mas kanei 8
2 fores to 8 mas kanei 16
3 fores to 8 mas kanei 24
4 fores to 8 mas kanei 32
5 fores to 8 mas kanei 40
6 fores to 8 mas kanei 48
7 fores to 8 mas kanei 56
8 fores to 8 mas kanei 64
9 fores to 8 mas kanei 72
10 fores to 8 mas kanei 80

In [400]:
a = 1
while a<=10:
    b=1
    while b<=10:
        print (a, 'fores to ', b, ' mas kanei', a*b)
        b+=1
    a+=1

1 fores to  1  mas kanei 1
1 fores to  2  mas kanei 2
1 fores to  3  mas kanei 3
1 fores to  4  mas kanei 4
1 fores to  5  mas kanei 5
1 fores to  6  mas kanei 6
1 fores to  7  mas kanei 7
1 fores to  8  mas kanei 8
1 fores to  9  mas kanei 9
1 fores to  10  mas kanei 10
2 fores to  1  mas kanei 2
2 fores to  2  mas kanei 4
2 fores to  3  mas kanei 6
2 fores to  4  mas kanei 8
2 fores to  5  mas kanei 10
2 fores to  6  mas kanei 12
2 fores to  7  mas kanei 14
2 fores to  8  mas kanei 16
2 fores to  9  mas kanei 18
2 fores to  10  mas kanei 20
3 fores to  1  mas kanei 3
3 fores to  2  mas kanei 6
3 fores to  3  mas kanei 9
3 fores to  4  mas kanei 12
3 fores to  5  mas kanei 15
3 fores to  6  mas kanei 18
3 fores to  7  mas kanei 21
3 fores to  8  mas kanei 24
3 fores to  9  mas kanei 27
3 fores to  10  mas kanei 30
4 fores to  1  mas kanei 4
4 fores to  2  mas kanei 8
4 fores to  3  mas kanei 12
4 fores to  4  mas kanei 16
4 fores to  5  mas kanei 20
4 fores to  6  mas kanei 24
4 fores to  7  mas kanei 28
4 fores to  8  mas kanei 32
4 fores to  9  mas kanei 36
4 fores to  10  mas kanei 40
5 fores to  1  mas kanei 5
5 fores to  2  mas kanei 10
5 fores to  3  mas kanei 15
5 fores to  4  mas kanei 20
5 fores to  5  mas kanei 25
5 fores to  6  mas kanei 30
5 fores to  7  mas kanei 35
5 fores to  8  mas kanei 40
5 fores to  9  mas kanei 45
5 fores to  10  mas kanei 50
6 fores to  1  mas kanei 6
6 fores to  2  mas kanei 12
6 fores to  3  mas kanei 18
6 fores to  4  mas kanei 24
6 fores to  5  mas kanei 30
6 fores to  6  mas kanei 36
6 fores to  7  mas kanei 42
6 fores to  8  mas kanei 48
6 fores to  9  mas kanei 54
6 fores to  10  mas kanei 60
7 fores to  1  mas kanei 7
7 fores to  2  mas kanei 14
7 fores to  3  mas kanei 21
7 fores to  4  mas kanei 28
7 fores to  5  mas kanei 35
7 fores to  6  mas kanei 42
7 fores to  7  mas kanei 49
7 fores to  8  mas kanei 56
7 fores to  9  mas kanei 63
7 fores to  10  mas kanei 70
8 fores to  1  mas kanei 8
8 fores to  2  mas kanei 16
8 fores to  3  mas kanei 24
8 fores to  4  mas kanei 32
8 fores to  5  mas kanei 40
8 fores to  6  mas kanei 48
8 fores to  7  mas kanei 56
8 fores to  8  mas kanei 64
8 fores to  9  mas kanei 72
8 fores to  10  mas kanei 80
9 fores to  1  mas kanei 9
9 fores to  2  mas kanei 18
9 fores to  3  mas kanei 27
9 fores to  4  mas kanei 36
9 fores to  5  mas kanei 45
9 fores to  6  mas kanei 54
9 fores to  7  mas kanei 63
9 fores to  8  mas kanei 72
9 fores to  9  mas kanei 81
9 fores to  10  mas kanei 90
10 fores to  1  mas kanei 10
10 fores to  2  mas kanei 20
10 fores to  3  mas kanei 30
10 fores to  4  mas kanei 40
10 fores to  5  mas kanei 50
10 fores to  6  mas kanei 60
10 fores to  7  mas kanei 70
10 fores to  8  mas kanei 80
10 fores to  9  mas kanei 90
10 fores to  10  mas kanei 100

In [401]:
a=51234123

In [419]:
%%timeit
len(str(a))

217 ns ± 12.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [423]:
#%%timeit
a=51234123
c=0
upoloipo = a
while upoloipo != 0:
    upoloipo = upoloipo // 10
    c += 1
print (c)

8

In [424]:
a = 'zabarakatranemia'

In [434]:
len(a)

16

In [431]:
#%%timeit
a.count('a')

6

In [437]:

index = 0
c = 0
while index < len(a):
    if a[index] == 'a':
        c += 1
    index += 1
print (c)
#print (index)

6

In [438]:
a = 'zabarakatranemia'

In [439]:
a[::-1]

'aimenartakarabaz'

In [447]:
index = len(a)-1
anapodo = ''
while index >= 0:
    anapodo = anapodo + a[index]
    print (anapodo)
    index -= 1
print (anapodo)

a
ai
aim
aime
aimen
aimena
aimenar
aimenart
aimenarta
aimenartak
aimenartaka
aimenartakar
aimenartakara
aimenartakarab
aimenartakaraba
aimenartakarabaz
aimenartakarabaz

In [440]:
a

'zabarakatranemia'

In [446]:
'' + a[len(a)-1] + a[len(a)-2] + a[len(a)-3]

'aim'

In [436]:
16<16

False

In [433]:
pick()

'Γιάννης'